# .gitignore
__pycache__/
__pypackages__
_build
.coverage
.direnv
.eggs
.eggs/
.env
.installed.cfg
.mypy_cache
.pytest_cache/
.Python
.pytype
.svn
.venv
*.egg
*.egg-info/
build/
develop-eggs/
dist/
eggs/
env.bak/
*env/
ENV/
lib/
lib64/
MANIFEST
sdist/
var/
venv.bak/
venv/
wheels/

.nox/
.tox/
.vscode/
.ruff_cache
.cache/
*_venv/

**/*.csv
**/*.xlsx