[project]
name = "getfactormodels"
version = "0.0.6"
description = "Download datasets for various multifactor asset pricing models."
authors = [
    { name = "S. Martin", email = "x512@pm.me" }
]
license = "AGPL-3.0-or-later"
readme = "README.md"
keywords = ['finance', 'asset pricing', 'multifactor models', 'finance', 'price models', 'financial analysis']
classifiers = [
    "Topic :: Office/Business :: Financial",
    "Topic :: Scientific/Engineering :: Mathematics",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Intended Audience :: Financial and Insurance Industry",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent",
    "Development Status :: 2 - Pre-Alpha",
]
urls = { Homepage = "https://github.com/x512/getfactormodels" }
requires-python = ">=3.9" #requests requires 3.9
dependencies = [
    "pandas>=2.1.4",
    "numpy>=1.18.5",
    "requests>=2.32.5",
    "pyarrow>=19.1.0",
    "openpyxl>=3.0.3",
    "tabulate>=0.8.7",
    "cachetools==5.3.2",
    "diskcache",
    "httpx (>=0.28.1,<0.29.0)",
    "certifi (>=2025.11.12,<2026.0.0)",
]

[tool.poetry]
exclude = ["**/*.ipynb"]

[tool.poetry.group.dev.dependencies]
ruff = "==0.14.7"
pytest-cov = "*"
pytest = ">=7.0"
isort = ">=5.12"
pytest-randomly = "*"
nox = "==2023.4.22"

[project.scripts]
getfactormodels = "getfactormodels.__main__:main"

[tool.isort]
lines_between_sections = false

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
line-length = 79
target-version = "py312"
indent-width = 4
respect-gitignore = true

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

# Some rules in preview, enable them:
## docs.astral.sh/ruff/settings/#format-preview
preview = true

[tool.ruff.lint]
exclude = [".git", ".git-rewrite",]
# run `ruff linter` to see all available rules
## see: docs.astral.sh/ruff/rules/
select = ["E4", "E7", "E9", "F", "B",
          "DTZ", "W2", "W5", "N", "PL",
          "NPY", "SIM", "TID", "PD",
          "E241", "S", "PTH", "RUF", 
          "FIX001", "TD004", "EM",
          "TD005", "TD007", "E501",
          "FA", "FIX002", "ANN",   # fix
          "E261"]                        # requires '--preview'

# Undo soon:
ignore = ["PD901",]

# see: docs.astral.sh/ruff/configuration/
fixable = ["W29", "W5", "E241", "E261"]
unfixable = ["B", "FIX001", "FIX002", "UP"]

[tool.ruff.lint.per-file-ignores] 
"**/__init__.py" = ["F401"]
"__main__.py" = ["F401"]

[tool.coverage.run]
omit = ['tests/*']

